.slide-banner
    ol
        li.active
        li
        li
    ul
        li.active(style="background-image: url('public/imgs/banner1.jpg')")
        li(style="background-image: url('public/imgs/banner2.jpg')")
        li(style="background-image: url('public/imgs/banner3.jpg')")
