.slide-banner
    ol
        li.active
        li
        li
    ul
        li.active(style="background-image: url('public/imgs/banner_one.png')")
        li(style="background-image: url('public/imgs/banner_two.png')")
        li(style="background-image: url('public/imgs/banner_three.png')")
