footer
    .areaheart
        ul.clearfix
            li
                dl
                    dt 创新基地
                    dd
                        a(href="./introduce.php") 基地介绍
                    dd
                        a(href="./jdts.php") 基地特色
                    dd
                        a(href="./teamjoin.php") 团队加入
            li
                dl
                    dt 关于我们
                    dd
                        a(href="./about.php#about") 公司简介
                    dd
                        a(href="./about.php#developcourse") 发展历程
                    dd
                        a(href="./about.php#cared") 公司荣誉
            li
                dl
                    dt 快速联系
                    dd
                        span 电话：027-84479506
                    dd
                        span 传真：027-84479547
                    dd
                        span 邮箱：biz@yhetgame.com
            li
                dl
                    dt 网站信息

                    dd
                        em © 2011 武汉炎黄娱动网络科技有限公司
                    dd
                        em
                            a(href="http://www.miibeian.gov.cn/",target="_blank") 鄂ICP备10202226号
                    dd
                        em 鄂网文[2011]0197-007号
