header
    .nav-list
        .areaheart
            h1
                a(href="javascript:void(0);") YHET
            ul
                li
                    a(href="javascript:void(0);")
                        em
                        span 首页
                li.active
                    a(href="javascript:void(0);")
                        em
                        span 关于我们
                li
                    a(href="javascript:void(0);")
                        em
                        span 新闻报道
                li
                    a(href="javascript:void(0);")
                        em
                        span 游戏产品
                li
                    a(href="javascript:void(0);")
                        em
                        span 创新基地
                li
                    a(href="javascript:void(0);")
                        em
                        span 加入我们
                li
                    a(href="javascript:void(0);")
                        em
                        span 联系我们
    .nav-info
        .areaheart
            ul
                li
                li.active
                    a(href="javascript:void(0);") 公司简介
                    a(href="javascript:void(0);") 企业文化
                    a(href="javascript:void(0);") 发展历程
                    a(href="javascript:void(0);") 娱动荣誉
                    a(href="javascript:void(0);") 领导关怀
                    a(href="javascript:void(0);") 管理团队
                    a(href="javascript:void(0);") 员工文化
                    a(href="javascript:void(0);") 合作伙伴
                li
                li
                    a(href="javascript:void(0);") 咕噜岛
                    a(href="javascript:void(0);") 幸福小镇
                    a(href="javascript:void(0);") MUMUGO
                li
                    a(href="javascript:void(0);") 基地介绍
                    a(href="javascript:void(0);") 基地特色
                    a(href="javascript:void(0);") 商务合作
                    a(href="javascript:void(0);") 团队加入
                    a(href="javascript:void(0);") 个人加盟
                li
                    a(href="javascript:void(0);") 员工福利
                    a(href="javascript:void(0);") 职业发展
                    a(href="javascript:void(0);") 人才招聘
                li
    .nav-min
        .min-menu-top
            .min-menu-btn
                a(href="javascript:void(0);") menu
            .min-home-btn
                a(href="javascript:void(0);") home
            .min-main-logo
        .min-menu-content
            .shade-box
            ul.scroll
                li.tier-one
                    a(href="javascript:void(0);") 首页
                li.tier-one
                    a(href="javascript:void(0);") 关于我们
                    ul
                        li
                            a(href="javascript:void(0);") 公司简介
                        li
                            a(href="javascript:void(0);") 企业文化
                        li
                            a(href="javascript:void(0);") 发展历程
                        li
                            a(href="javascript:void(0);") 娱动荣誉
                        li
                            a(href="javascript:void(0);") 领导关怀
                        li
                            a(href="javascript:void(0);") 管理团队
                        li
                            a(href="javascript:void(0);") 员工文化
                        li
                            a(href="javascript:void(0);") 合作伙伴
                li.tier-one
                    a(href="javascript:void(0);") 新闻报道
                li.tier-one
                    a(href="javascript:void(0);") 游戏产品
                    ul
                        li
                            a(href="javascript:void(0);") 咕噜岛
                        li
                            a(href="javascript:void(0);") 幸福小镇
                        li
                            a(href="javascript:void(0);") MUMUGO
                li.tier-one
                    a(href="javascript:void(0);") 创新基地
                    ul
                        li
                            a(href="javascript:void(0);") 基地介绍
                        li
                            a(href="javascript:void(0);") 基地特色
                        li
                            a(href="javascript:void(0);") 商务合作
                        li
                            a(href="javascript:void(0);") 团队加入
                        li
                            a(href="javascript:void(0);") 个人加盟
                li.tier-one
                    a(href="javascript:void(0);") 加入我们
                    ul
                        li
                            a(href="javascript:void(0);") 员工福利
                        li
                            a(href="javascript:void(0);") 职业发展
                        li
                            a(href="javascript:void(0);") 人才招聘
                li.tier-one
                    a(href="javascript:void(0);") 联系我们