doctype html
html(lang="en")
    head
        include meta.pug
        link(rel="stylesheet" href="public/build/base.css")
        include package.pug
        link(rel="stylesheet" href="public/build/main.css")
    body
        script(src="public/build/base.js")
        include sidebar.pug
        .pusher.fade.out
            include header.pug
            block section
            include footer.pug
        script(src="public/build/main.js")