doctype html
html
    head
        title 炎黄娱动
        meta(name="description" content="炎黄娱动是一家专注于游戏研发的高新科技产业公司。主要从事网页游戏，社交游戏及手机游戏的研发及运营。国内一流的专业游戏开发及运营公司，目前在网页游戏领域有多款成功产品")
        meta(name="keywords" content="游戏平台，游戏进展,新游戏发布,网页游戏, 手机游戏，webgame, 游戏开发,咕噜岛 ,幸福小镇，MUMUGO，半回合制，SNS游戏、手机塔防游戏")
        meta(name="format-detection" content="telephone=no, email=no")
        include includes/meta.pug
        link(rel="stylesheet" href="public/build/entry.css")
    body
        include includes/header.pug
        section.page-about
            .min-banner(style='background-image: url("public/imgs/banner.png");')
            .about
                .areaheart
                    a(name="about",id="about")
                    h3 我们是谁
                    .content
                        img(src="public/imgs/yhet_list.png",style="display:block;max-width:100%;margin:0 auto;")
                        br
                        br
                        br
                        br
                        p 武汉炎黄娱动网络科技有限公司（以下简称炎黄娱动）是一家专注于游戏研发的高新科技产业公司。主要从事网页游戏，社交游戏及手机游戏的研发及运营。
                        p 公司成立于2006年8月，今年来一直致力于网页游戏和手机游戏的研发。公司技术储备全面，具备3D&2D网络，网页，社交、手机游戏开发的全部技术。随着公司的发展，团队规模不断壮大，从最早成立时的10多人到现在的80多人，随着炎黄娱动收购上海火娱，成立苏州分公司，开设广州运营中心，预计2012年底将达到近200人的团队规模。截至目前，公司已经拥有硕士以上学位人才18人，留学生7人。是湖北省内最具核心竞争力的网络科技团队之一。
                        p 2008年，公司自主研发的大型RPG网页游戏——《咕噜岛》也于2009年11月顺利完成，并已成功通过湖北省信息产业厅软件产品资格认定；同时依法取得中华人民共和国国家版权局计算机软件著作权，目前已在海内外上线运营。
                        p 2010年5月，公司应武汉经济技术开发区政府邀请，作为发展文化产业的重点扶持对象搬迁到开发区，享受一系列政府扶持政策。借助公司雄厚的技术背景和优秀的海外归国人才的策划能力，于2010年六月自主研发了第二款网页游戏项目——《幸福小镇》，这是一款模拟经营类的网页游戏，经过前两年的研发实力和与国内外众多游戏巨头合作学到的运营经验，公司已经有了自己的运营团队，从原来的单纯研发发展成为集于研发和运营于一体的综合性游戏公司。目前这款游戏公司最早是通过自己的运营团队已在国内最大的社交平台——《人人网》平台上上线运营，也取得了一定的成功，并且也依法获得了中华人民共和国国家版权局计算机软件著作权。
                        p 随着国家的三网融合和3G移动互联网时代的来临，公司借助海外背景和技术研发实力，在2011年期间组建了一支移动互联网研发（手机研发）的团队，目前已成功研发出智能手机应用的项目：炎黄宝贝、炎黄手漫、炎黄漫客、炎黄新闻。并于今年4月份通过公司成立的产品评测小组的审核，开始了第一款手机游戏的研发，：《MOMOGO》，已于今年8月20号正式完成。这款手机游戏已经成功吸引了日本游戏商前来洽谈合作事宜。第二款大型的手机社交游戏也已经正式进入开发阶段，预计11月推出市场。公司已经与欧洲PLINGA、日本雅虎、杭州乐港北美分部达成合作协议，以上游戏产品在包括日、韩、美、法、德等32个国家和地区上线。公司还计划将现有的网页游戏资源，移值到手机上去。预计今年炎黄娱动手机产品将在全球覆盖100万台手机。到明年第二季度，将会形成同时有多款产品分处研发、生产、运营等各个环节的局面，产生规模效应。
                        p 目前，我司研发的产品在网游行业内得到高度肯定，并且得到全国及国际知名创投公司的关注，其中上市公司中青宝已经明确表示了投资入股意愿。公司已获得国家科技部2010年度科技创新引导基金（100万）的重点扶持，武汉经济技术开发区30万元科技创新种子基金。2011年5月获得了科华银赛创投公司500万的风险投资。并与上海启明进入B轮2000万人民币融资的洽谈。为了迅速将产品推向市场，公司目前已选择与上市公司中青宝合作，并签订了战略合作协议。借助中青宝的网络营运平台，公司将会取得快速的发展。同时，公司还和马来西亚云起公司签订了海外联合运营合作协议，为将来公司产品在海外的运营奠定了良好的基础。
            .culture
                .areaheart.clearfix
                    a(name="culture",id="culture")
                    h3 企业文化
                    figure
                        img(src='public/imgs/pic_one.png', alt='团结')
                        figcaption 尊重员工个性，加强团队协作;建立坦率且有效的沟通机制，吐故纳新，锐意进取，既包容员工个性，又奉行团队协作精神，旨在营造同进退、共进取的家庭式工作氛围;
                    figure
                        img(src='public/imgs/pic_two.png', alt='快乐')
                        figcaption 致力于员工与客户的满意与成功;提供一个充满快乐和活力的工作环境，鼓舞并保持一种追求卓越成就的创业激情，使员工能获得生活与成功的快乐;
                    figure
                        img(src='public/imgs/pic_three.png', alt='创新')
                        figcaption 追求速度和效率，专注于对公司和客户有影响力的创新;
                    figure
                        img(src='public/imgs/pic_four.png', alt='诚信')
                        figcaption 建立信任与负责任的人际关系;
            .developcourse
                .areaheart.clearfix
                    a(name="developcourse",id="developcourse")
                    h3 发展历程
                    img(src='public/imgs/development.png', alt='developcourse')
                    h4 2011
                    p 《幸福小镇》登陆人人网平台。
                    h4 2010
                    p 炎黄娱动获得科技部投资保障100万元。
                    p 省新闻出版局和开发区领导考察炎黄娱动。
                    p 《咕噜岛》开始封闭测试。
                    p 与中青宝（sh300052）签订《咕噜岛》大陆地区独家代理协议。
                    p 与马来西亚云气签订《咕噜岛》大陆以外地区独家代理协议。
                    p 炎黄娱动获得美国网络运营商Aeria Games & Entertainment的主动关注，迈出进军海外市场的第一步。
                    p “启明投资”合伙人来我公司考察，双方就游戏事业的进行交流。
                    h4 2009
                    p 台湾“在线科技”来公司考察和洽谈《咕噜岛》项目商务合作，同月上海“盛大网络”来公司考察和洽谈商务合作。
                    p 上海“巨人网络”来公司考察和洽谈《咕噜岛》项目商务合作。
                    h4 before
                    p 董事长邝幸先生引进国外市场经验，在集团的支持下带领公司走向“浏览器应用”事业方向，公司并引进高端技术人才和海外专业人才。公司人才达到30余人。
                    p 引进众多高级技术人才，组建正规化独立公司，取名“股博网络”，成功为集团下20多家公司和外部企业提供互联网技术服务。开发的产品代表作：理财快车软件、财神网、元富财经客户端、华人艺术网、天下赢家财经门户网站等众多网络产品。
                    p 成功组建集团下两个技术团队，分为网站部和软件开发部，并开发第一款财经门户网站“财神网”和财经理财软件“理财快车软件”。
                    p 炎黄集团为了集团内部的需要，组织了一支技术部门，专门负责集团旗下子公司的互联网技术事业服务。
            .cared
                .areaheart.clearfix
                    a(name="cared",id="cared")
                    h3 娱动荣誉
                    .honor
                        figure
                            img(src='public/imgs/honor_one.png', alt='honor')
                            figcaption 《幸福小镇》获得软件登记证书
                        figure
                            img(src='public/imgs/honor_two.png', alt='honor')
                            figcaption 炎黄娱动喜获《网络文化经营许可证》
                        figure
                            img(src='public/imgs/honor_three.png', alt='honor')
                            figcaption 《幸福小镇》获国家版权保护证书
            .leadership
                .areaheart.clearfix
                    a(name="leadership",id="leadership")
                    h3 领导关怀
                    .img-list
                        figure
                            img(src='public/imgs/img_one.png', alt='leadership')
                            figcaption 马莉副局长视察炎黄娱动
                        figure
                            img(src='public/imgs/img_two.png', alt='leadership')
                            figcaption 炎黄娱动喜获科华银赛500万注资
                        figure
                            img(src='public/imgs/img_three.png', alt='leadership')
                            figcaption 省新闻出版局领导、开发区领导、华人集团领导在炎黄娱动合影
            .staff
                .areaheart.clearfix
                    a(name="staff",id="staff")
                    h3 员工文化
            .partner
                .areaheart.clearfix
                    a(name="partner",id="partner")
                    h3 合作伙伴
                    p 炎黄娱动自创立以来，获得了行业巨头、创投基金、炎黄集团内部多方的关注与支持
                    img(src='public/imgs/partner.png', alt='partner')
        include includes/footer.pug
        script(src="public/lib/bower_components/jquery/dist/jquery.min.js")
        script(src="public/build/entry.js")