doctype html
html
    head
        title 预览
        meta(name="description" content="yhet")
        meta(name="keywords" content="pr")
        include includes/meta.pug
        style.
            * {
                padding: 0;
                margin: 0;
            }

            .img-box {
                width: 100%;
                overflow: hidden;
            }

            .img-box img {
                position: relative;
                left: 50%;
                transform: translateX(-960px);
            }
    body
        .img-box
            img(src="origin/imgs/index.jpg")