@media (min-width: 0px) {
  .culture {
    figure {
      figcaption {
        text-align: center;
      }
    }
  }
  .cared {
    figure {
      margin-bottom: 20px;
    }
  }
  .leadership {
    figure {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 960px) {
  .culture {
    figure {
      float: left;
      width: 25%;
      figcaption {
        text-align: justify;
      }
    }
  }
  .cared {
    figure {
      float: left;
      &:nth-child(2) {
        margin: 0 5%;
      }
      display: inline-block;
      width: 30%;
    }
  }
  .leadership {
    figure {
      float: left;
      &:nth-child(2) {
        margin: 0 5%;
      }
      display: inline-block;
      width: 30%;
    }
  }
}

section.page-about {
  .min-banner {
    height: 230px;
    background: {
      size: cover;
      repeat: no-repeat;
      position: 50% 50%;
    }
  }
  .areaheart {
    & > h3 {
      padding: 60px 0;
      font-size: 32px;
      text-align: center;
    }
  }
  .about {
    padding-bottom: 60px;
    .content {
      p {
        line-height: 2em;
        font-size: 14px;
        text-indent: 2em;
        text-align: justify;
        color: #666;
      }
    }
  }
  .culture {
    padding-bottom: 60px;
    background-color: #f6f6f6;
    figure {
      padding: 10px;
      box-sizing: border-box;
      img {
        width: 100%;
      }
      figcaption {
        line-height: 1.5em;
        font-size: 14px;
        color: #737373;
      }
    }
  }
  .developcourse {
    padding-bottom: 60px;
    img {
      float: right;
      width: 40%;
    }
    h4 {
      position: relative;
      padding: 20px 0;
      text-indent: 1em;
      font-size: 26px;
      color: #d80c17;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 20px;
        margin-top: -10px;
        border-radius: 5px;
        background-color: #d80c17;
      }
    }
    p {
      padding: 15px 0;
      line-height: 1.4em;
      font-size: 12px;
      color: #222;
    }
  }
  .cared {
    padding-bottom: 60px;
    background-color: #f6f6f6;
    .honor {
      text-align: center;
    }
    figure {
      position: relative;
      img {
        display: block;
        width: 100%;
        max-width: 278px;
        margin: 0 auto;
      }
      figcaption {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        max-width: 278px;
        height: 2em;
        line-height: 2em;
        font-size: 14px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        background-color: rgba(0, 0, 0, .6);
        transform: translateX(-50%);
      }
    }
  }
  .leadership {
    padding-bottom: 60px;
    .img-list {
      text-align: center;
    }
    figure {
      img {
        display: block;
        width: 100%;
        max-width: 278px;
        margin: 0 auto;
      }
      figcaption {
        padding-top: 20px;
        line-height: 1.4em;
        font-size: 14px;
        color: #232323;
      }
    }
  }
  .staff {
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }
  .partner {
    padding-bottom: 60px;
    p {
      margin-top: -40px;
      line-height: 1.4em;
      text-align: center;
      font-size: 18px;
      color: #666;
    }
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      padding-top: 40px;
    }
  }
}