body, html {
  height: auto !important;
}

#nprogress {
  .spinner {
    top: 50% !important;
    right: 50% !important;
    transform: translate(-50%, 50%);
  }
}

.fade {
  opacity: 1;
  transition: opacity .3s linear .3s;
  &.out {
    opacity: .2;
  }
}