@import "mxin/variables";

@media (min-width: 0px) {
  footer ul li {
    width: 100%;
  }
}

@media (min-width: 960px) {
  footer ul li {
    float: left;
    width: 25%;
    &:not(:first-child) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        border-left: 1px solid #3f3f3f;
        background-color: #131313;
      }
    }
  }
}

footer {
  position: relative;
  padding: 26px 0;
  font-size: 12px;
  background-color: #2e2e2e;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
  }
  ul {
    li {
      position: relative;

    }
  }
  dl {
    padding: 20px;
    dt {
      margin-bottom: 12px;
      color: #fff;
    }
    dd {
      & > a, & > span {
        padding-left: 25px;
        line-height: 24px;
        color: #9a9a9a;
        background: url("../../public/imgs/copy_li.png") no-repeat left center;
        background-size: auto 90%;
        transition: color .6s;
        &:hover {
          color: $backColor;
        }
      }
      & > em, & > em a {
        position: relative;
        line-height: 24px;
        color: #9a9a9a;
        transition: color .6s;
        &:hover {
          color: $backColor;
        }
        img {
          position: absolute;
          top: 0;
          left: 6px;
          height: 17px;
        }
      }
      form {
        input {
          border: none;
          outline: none;
        }
        input[type="text"] {
          width: 136px;
          height: 20px;
          padding: 0 .5em;
          border-radius: 5px;
          background-color: #c1c1c1;
          box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 1);
        }
        input[type="submit"] {
          width: 31px;
          cursor: pointer;
          background: url("../../public/imgs/qietu_26.jpg") no-repeat center center;
        }
      }
    }
  }
}