@import "mxin/variables";

header {
  .nav-list {
    background-color: rgba(255, 255, 255, .9);
    .areaheart {
      height: 98px;
    }
    h1 {
      float: left;
      padding-top: 6px;
      a {
        position: relative;
        display: block;
        width: 160px;
        height: 80px;
        text-indent: -999em;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(140, 19, 97, 1);
        }
      }
    }
    ul {
      float: right;
      li {
        float: left;
        a {
          position: relative;
          padding: 4px 30px;
          line-height: 98px;
          font-size: 14px;
          font-weight: bold;
          color: rgba(0, 0, 0, 1);
          em {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 6px 6px 6px 6px;
            transform: skewX(5deg);
            transform-origin: 0 100%;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 6px 6px 6px 6px;
              transform: skewX(-10deg);
              transform-origin: 0 100%;
            }
            &:after {
              content: '';
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 100%;
              transform: skewX(-5deg);
            }
          }
          span {
            position: relative;
            z-index: 2;
          }
        }
        &.active {
          a {
            border-radius: 5px;
            color: rgba(255, 255, 255, 1);
            em {
              background: linear-gradient(to top, #eb4249, #af0b13);
              &:before {
                background: linear-gradient(to top, #eb4249, #af0b13);
              }
              &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 60%;
                height: 2px;
                //border-radius: 100%;
                transform: skewX(-5deg) translate(-50%, -100%);
                transform-origin: 0 100%;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
              }
            }
          }
        }
      }
    }
  }
  .nav-info {
    width: 100%;
    height: 34px;
    overflow: hidden;
    min-width: $areaheartWith;
    background-color: #cf000d;
    ul {
      li {
        display: none;
        line-height: 34px;
        text-align: center;
        &.active {
          display: block;
        }
        a {
          margin: 0 1em;
          font-size: 14px;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
          &:hover{
            color: #fc0;
          }
        }
      }
    }
  }
}