@import "mxin/variables";

@media (min-width: 0px) {
  .nav-list, .nav-info {
    display: none;
  }
  .nav-min {
    display: block;
  }
}

@media (min-width: 960px) {
  .nav-list, .nav-info {
    display: block;
  }
  .nav-min {
    display: none;
  }
}

header {
  .nav-list {
    background-color: rgba(255, 255, 255, .9);
    .areaheart {
      height: 98px;
    }
    h1 {
      float: left;
      padding-top: 6px;
      a {
        position: relative;
        display: block;
        width: 160px;
        height: 80px;
        text-indent: -999em;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(140, 19, 97, 1);
        }
      }
    }
    ul {
      float: right;
      li {
        float: left;
        a {
          position: relative;
          padding: 4px 30px;
          line-height: 98px;
          font-size: 14px;
          font-weight: bold;
          color: rgba(0, 0, 0, 1);
          em {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            width: 0;
            height: 0;
            border-radius: 6px 6px 6px 6px;
            transform: skewX(5deg) translate(-50%, -50%);
            transform-origin: 0 100%;
            transition: width .3s, height .3s;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 6px 6px 6px 6px;
              transform: skewX(-10deg);
              transform-origin: 0 100%;
            }
            &:after {
              content: '';
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 100%;
              transform: skewX(-5deg);
            }
          }
          span {
            position: relative;
            z-index: 2;
          }
        }
        &.active {
          a {
            border-radius: 5px;
            color: rgba(255, 255, 255, 1);
            em {
              width: 100%;
              height: 100%;
              background: linear-gradient(to top, #eb4249, #af0b13);
              &:before {
                background: linear-gradient(to top, #eb4249, #af0b13);
              }
              &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                width: 60%;
                height: 2px;
                //border-radius: 100%;
                transform: skewX(-5deg) translate(-50%, -100%);
                transform-origin: 0 100%;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
              }
            }
          }
        }
      }
    }
  }
  .nav-info {
    width: 100%;
    height: 34px;
    overflow: hidden;
    background-color: $foreColor;
    ul {
      li {
        display: none;
        line-height: 34px;
        text-align: center;
        opacity: 0;
        &.active {
          display: block;
          opacity: 1;
        }
        a {
          margin: 0 1em;
          font-size: 14px;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
          transition: color .6s;
          &:hover {
            color: $backColor;
          }
        }
      }
    }
  }
  .nav-min {
    background-color: $foreColor;
    table {
      width: 100%;
      height: 49px;

      span {
        display: block;
        width: 30px;
        height: 100%;
        a{
          display: block;
          width: 100%;
          height:100%;
          text-indent:-10em;
          overflow: hidden;
        }
      }
      .min-menu-btn {
        width: 1em;
        text-align: center;
        span {
          background: url("../../public/imgs/icon_menu.png") no-repeat right center;
          background-size: 80% auto;
        }
      }
      .min-main-logo {
        text-align: center;
      }
      .min-home-btn {
        width: 1em;
        text-align: center;
        span {
          background: url("../../public/imgs/icon_home.png") no-repeat left center;
          background-size: 100% auto;
        }
      }
    }
    .min-menu-content {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 10;
      width: 100%;
      height: 100%;
      transition: left .6s;
      &.active {
        left: 0;
      }
      & > .shade-box {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
      & > ul {
        position: relative;
        z-index: 2;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, .98);
        box-shadow: 0 0 36px 0 rgba(0, 0, 0, 1);
        .tier-one {
          position: relative;
          padding: 6px 20px;
          &:first-child {
            padding-top: 20px;
          }
          &:last-child {
            padding-bottom: 20px;
          }
          a {
            position: relative;
            display: block;
            font-size: 14px;
            color: #fff;
            &:not(:first-child) {
              &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #3f3f3f;
                background-color: #fff
              }
            }
          }
          ul {
            padding-top: 4px;
            li {
              padding: 4px 0 4px 2em;
            }
          }
        }
      }
    }
  }
}