h1 {
  padding-top: 2em;
  text-align: center;
  font-family: 'Conv_Ubicada-pro-regular';
  font-size: 70px;
  font-weight: lighter;
}

p {
  padding-top: 2em;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.video-wrapper {
  video {
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    object-fit: cover;
  }
}