@import "mxin/variables";

@media (min-width: 0px) {
  section {
    .product-info {
      .product-img {
        width: 100%;
        height: 360px;
        padding: 20px;
        ul.bg-img-info {
          height: 100px;
        }
      }
      .product-content {
        width: 100%;
        padding: 20px;
      }
    }
  }
}

@media (min-width: 960px) {
  section {
    .product-info {
      &.bg-r {
        //padding-top: 5px;
        padding-bottom: 15px;
      }
      .product-img {
        float: left;
        width: 60%;
        padding: 70px;
        ul.bg-img-info {
          height: 120px;
        }
      }
      .product-content {
        float: left;
        width: 40%;
        padding: 70px;
      }
    }
  }
}

section {
  .product-info {
    &.bg-l {
      .product-content {
        background-color: $foreColor;
      }

      .product-img {
        background-color: #fff;
      }
    }
    &.bg-r {
      .product-content {
        background-color: #212121;
      }

      .product-img {
        background-color: #e5e5e5;
      }
    }
    .product-img {
      position: relative;
      box-sizing: border-box;
      ul.bg-img-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        li {
          float: left;
          width: 20%;
          height: 100%;
          background: {
            size: auto 45%;
            repeat: no-repeat;
            position: 50% 50%;
          }
        }
      }
      .bg-img-content {
        position: absolute;
        top: 6%;
        left: 0;
        width: 100%;
        max-width: 750px;
        height: 100%;
        background: {
          size: 80% auto;
          repeat: no-repeat;
          position: 50% 80%;
        }
      }
    }
    .product-content {
      color: #fff;
      font-size: 0;
      box-sizing: border-box;
      h3 {
        position: relative;
        margin-bottom: 46px;
        font-size: 48px;
        font-weight: 200;
        &:before {
          content: '';
          position: absolute;
          bottom: -24px;
          left: 0;
          width: 1em;
          height: 2px;
          background-color: #fff;
        }
        strong {
          margin-right: .5em;
          font-weight: 900;
        }
      }
      p {
        line-height: 34px;
        font-size: 16px;
        font-weight: lighter;
        text-align: justify;
      }
      span {
        display: block;
        padding-top: 26px;
        padding-bottom: 56px;
        margin-bottom: 30px;
        border-bottom: 2px solid #fff;
        em {
          margin-right: 1em;
          font-family: "Microsoft YaHei UI", sans-serif;
          font-size: 24px;
          font-weight: lighter;
        }
        i {
          font-size: 24px;
        }
        strong {
          font-family: Arial, sans-serif;
          font-size: 40px;
        }
      }
      table {
        caption {
          padding-bottom: 26px;
          //font-family: "Microsoft YaHei UI", sans-serif;
          font-weight: lighter;
          font-size: 28px;
        }
        tr {
          font-size: 20px;
          line-height: 30px;
          font-weight: lighter;
        }
        th {
          padding: 4px 1em 4px 0;
          font-weight: lighter;
        }
        td {
          padding: 4px 0;
          font-weight: lighter;
          text-align: justify;
        }
      }
    }
  }
}